

.info-container {

    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
        text-align: center;
        font-family: copperplate;
        color: #AB3B3E;
    }

}