{
    "presets": [
        "react-app",
        "react"
    ],
    "plugins": [
        [
            "react-intl",
            {
                "messagesDir": "build/messages"
            }
        ]
    ],
    "test": [
        "jest"
    ]
}